@import url("fonts.css");
@import url("pygments.css");
@import url("vanilla.css");

body {
  color: #000305;
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
}

code, pre {
  font-family: 'Iosevka Term', monospace;
}

/* Anchors */
a:link, a:visited {
  color: #C74350;
  padding: 0 1px;
  text-decoration: underline;
}
a:hover, a:active {
  background-color: #C74350;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
  background-color: inherit
}

.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

footer {
  padding-top: 2rem;
}
